城市名稱:<%= name %>。人口數:<%= population %>。城市簡介:<%= description %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>城市名稱: <%= name %></h1>
    <p>人口數: <%= population %></p>
    <p>城市簡介: <%= description %></p>
</body>
</html>